@import '../../../styles/variables.scss';

.playlist-details-wrapper {
    display: flex;
    gap: 5px;
    margin: 50px 50px;
    margin-bottom: 100px;

    .playlist-details {
        width: 25%;

        .playlist-details-header {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 50px;
    
            .playlist-details-image {
                img {
                    width: 275px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
    
            .playlist-details-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
    
                .playlist-details-name {
                    font-size: 25px;
                    font-weight: 700;
                }
    
                .playlist-details-description,
                .playlist-details-owner {
                    font-size: 15px;
                    font-weight: 300;
                    color: #999;
                    text-align: center;
                }
            }
        }

        .radar-chart {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .chart {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .playlist-tracks {
        width: 75%;

        .loader {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 25px;
        }
    }
}